@import '~huebee/huebee.css';

/* normalize css starts here */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* normalize css ends here */

/*
  ================================================================================
  CORE CSS
  ================================================================================
*/

body {
  max-height: 700px;
  width: 30em;
  font-size: 14px;
  background-color: #9fd4ff;
}

button {
  padding: 0.3em;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  flex-direction: column;
  padding: 1em;
  border: 0.25em solid black;
}

.title {
  font-size: 2em;
  font-weight: bold;
}

.subtitle {
  font-size: 1.5em;
  font-style: italic;
}

.config-section {
  width: 100%;
  font-size: 1.25em;
  margin-bottom: 1em;
}

.config-section-title {
  font-weight: bold;
  margin-bottom: 0.5em;
}

.config-row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 1em;
}

.config-label {
  font-weight: bold;
  flex: 1;
}

.config-control {
  flex: 2;
}

.config-section button {
  box-shadow: 0 0.25em #999;
  font-size: 1.1rem;
}

.buttons-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 1em;
  width: 100%;
}

.buttons-row button {
  width: 33%;
  padding: 0, 5em;
}

input {
  font-size: inherit;
}

#number-format {
  width: 4em;
}

#number-format-preview {
  background: white;
  padding: 0.25em;
  border-radius: 0.4em;
}

/*
  ================================================================================
  SWITCH
  ================================================================================
*/

.switch {
  position: relative;
  display: inline-block;
  width: 2.2em;
  height: 1.2em;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 1em;
  width: 1em;
  left: 0.1em;
  bottom: 0.1em;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  transform: translateX(1em);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*
  ================================================================================
  BUTTON
  ================================================================================
*/

.button {
  display: inline-block;
  padding: 0.3em 0.5em;
  font-size: 1.3em;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 0.4em #999;
  margin-top: -0.1rem;
  margin-bottom: 0.4em;
}

.button:active {
  box-shadow: 0 0.32em #666;
  transform: translateY(4px);
}

.button.confirm {
  background-color: #4caf50;
}

.button.confirm:hover,
.button.confirm:active {
  background-color: #3e8e41;
}

.button.cancel {
  background-color: #f4511e;
}

.button.cancel:hover,
.button.cancel:active {
  background-color: #d04116;
}

.button.add {
  background-color: #2196f3;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 0.8em;
}

.tooltip .tooltiptext::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
