/* normalize css starts here */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* normalize css ends here */

body {
  height: 200px;
  width: 200px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}
