.tcnp-short-card-number {
  display: inline;
  margin-right: 0.3em;
}

.tcnp-list-counter {
  align-self: center;
  margin: 0 12px;
}

.tcnp-hidden {
  display: none !important;
}

.tcnp-bold {
  font-weight: bold;
}
