.tcnp-short-card-number {
  display: inline;
  margin-right: 0.3em;
}

.tcnp-list-counter {
  margin-top: -8px;
  margin-bottom: 8px;
  margin-left: 12px;
}

.tcnp-hidden {
  display: none !important;
}

.tcnp-bold {
  font-weight: bold;
}
